// globals
@import './variables.scss';

* {

  box-sizing: border-box;
  
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

body {

  margin: 0;
  padding: 0;

  background-color: lighten(grey, 40%)
}

textarea:hover,
textarea:active,
textarea:focus,
label:focus,
{
    outline:0px !important;
    -webkit-appearance:none;
}