@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600');

$aspetRatio16-9: 56.25%;
$aspetRatio4-3: 75%;

$color-wheat: wheat;
$button-size: 20px;

$ad-width: 300px;
$ad-height: 600px;